.about-section4{
    margin-top: 100px;
    padding-top: 100px;
    background-color: #f9f6f0;
}
.about-section4-head{
    text-align: center;
}
.about-section4-head h1{
    color: burlywood;
}
.about-section4-body{
    display: flex;
    padding:50px 40px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.about-section4-body-reviews{
    padding-top: 50px;
    width: 100%;
   

}
.abc{
    
    
   
    

}

.about-section4-body-img img{
    width: 100%;
    
}
/* .about-section4-body-img img{
    width: 90%;
} */
.about-section4-body-slider{
    margin: 0px 10px;
    display: flex!important;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    width:610px;
   

}
.about-section4-body-slider img{
    width: 100px!important;
}
.about-section4-body-slider p{
    color: black!important;
    width: 90%;
    text-align: justify;
}
.about-section4-body-slider-heading{
    margin-bottom: 30px;
    color: black!important;
}
@media (max-width:960px) {
    .about-section4-body-reviews{
        width: 100%;
    }
    
}