/* .mutislide-items{
    width: 100px!important;
    border: 1px solid black;

}
.mutislide-items img{
    width: 80px;
}
.a{
    gap: 0px!important;
    
    width: 100%;
    border: 1px solid green;
} */